*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.carousel-inner img{
    width: 100vw;
    height: auto;
}


/*div-1----------------------------------------------------------*/
.divcaption-1{
    display: flex;
    width: 70vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.left-carousel-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-inner-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.carousel-inner-text-sub{
    font-size: 40px;
    color: #e82c2c;
    font-family: 'Poppins', sans-serif;
}

.right-carousel-1{
    height: 70%;
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.right-carousel-1 p{
    font-size: 15px;
}

.right-carousel-1 ul{
    font-size: 15px;
}

.contactUsBtn{
    width: 250px ;
}

/*----------------------------------------------------------*/

.overlay {
    position: relative;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* This sets the overlay color with 50% opacity */
}

.navbar-brand img{
    width: 100px;
    height: auto;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/*text----------------------------------------------------------*/

.main-service-title-sub{
    background-color: #079b5e;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.main-service-title-sub p{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.53);
}


/*services----------------------------------------------------------*/

.commoncard:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

.card-img:hover{
    animation: scaleAnimation 1s forwards;
}

@keyframes scaleAnimation {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.9);
    }
}

.services{
    background-image: url('assets/banner.jpg');
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-service-title{
    padding: 20px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-service-title p{
    padding: 20px 20px 0 20px;
    font-size: 40px;
    color: rgba(116, 116, 116, 0.75);
}

.scrollable-cards-container {
    padding: 20px;
    display: flex;
    overflow-x: auto;
    width: 100%;
}


.commoncard{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-text{
    padding: 20px;
}



@media (max-width: 768px) {

    .navbar-toggler span{
        width: 15px;
        height: 17px;
    }

    .navbar-brand img{
        width: 80px;
        height: auto;
    }

    /*div-1----------------------------------------------------------*/
    .carousel-inner-text{
        font-family: 'Ubuntu', sans-serif;
        font-size: 35px;
    }

    .carousel-inner-text-sub{
        font-size: 25px;
        color: #e82c2c;
        font-family: 'Poppins', sans-serif;
    }


    .right-carousel-1 p{
        font-size: 10px;
    }

    .right-carousel-1 ul{
        font-size: 10px;
    }

    .contactUsBtn{
        width: 150px ;
    }

    /*----------------------------------------------------------*/



    /*text----------------------------------------------------------*/

    .main-service-title-sub{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    .main-service-title-sub p{
        font-size: 35px;
        color: rgba(3, 31, 99, 0.53);
    }


    /*services----------------------------------------------------------*/

    .main-service-title p{
        font-size: 40px;
    }

}

@media (max-width: 567px) {

    /*div-1----------------------------------------------------------*/
    .carousel-inner-text{
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
    }

    .carousel-inner-text-sub{
        font-size: 15px;
        color: #e82c2c;
        font-family: 'Poppins', sans-serif;
    }


    .right-carousel-1 p{
        font-size: 10px;
    }

    .right-carousel-1 ul{
        font-size: 10px;
    }

    /*----------------------------------------------------------*/


}


@media (max-width: 480px) {

    .navbar-toggler span{
        width: 10px;
        height: 12px;
    }

    .navbar-brand img{
        width: 60px;
        height: auto;
    }

    /*div-1----------------------------------------------------------*/

    .divcaption-1{
        display: flex;
        width: 70vw;
        height: 80%;
        align-items: center;
        justify-content: center;
    }


    .carousel-inner-text{
        font-family: 'Ubuntu', sans-serif;
        font-size: 8px;
    }

    .carousel-inner-text-sub{
        font-size: 9px;
        color: #e82c2c;
        font-family: 'Poppins', sans-serif;
    }


    .right-carousel-1 p{
        font-size: 5px;
    }

    .right-carousel-1 ul{
        font-size: 5px;
    }

    .contactUsBtn{
        width: 90px ;
    }

    .left-carousel-1 a{
        font-size: 12px;
    }


    /*----------------------------------------------------------*/

    .carousel-inner-text{
        font-size: 20px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }



    /*text----------------------------------------------------------*/

    .main-service-title-sub{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .main-service-title-sub p{
        font-size: 27px;
        color: rgba(3, 31, 99, 0.53);
    }


    /*services----------------------------------------------------------*/
    .main-service-title p{
        font-size: 30px;
    }


}
